<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XedPluginDemo"
        tools:targetApi="31" />


    <meta-data android:name="xedpluginAPI" android:value="1"/>

    <!-- fully qualified class name that extends API   -->
    <meta-data android:name="EntryPoint" android:value="com.example.xedplugindemo.PluginDemo"/>

</manifest>