<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="JVM_Xedplugin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31" >

        <meta-data android:name="xedpluginAPI" android:value="1"/>

        <!-- fully qualified class name that extends API class  -->
        <meta-data android:name="EntryPoint" android:value="com.rk.jvm.PluginMain"/>
    </application>




</manifest>